
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: hsl(var(--background));
}

.card {
  padding: 1.5em;
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.read-the-docs {
  color: rgba(255, 255, 255, 0.5);
}
